body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('./images/Nissan_Skyline.jpeg');
    background-size:cover;
    background-position:center;
}

header {
    background-color: #48357e;
    padding: 20px 0;
}
header:hover{
    background-color:red;
}

a {
    text-decoration: none;
    color: #5220c8;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #333;
    color: #fff;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #337ab7;
    text-decoration: none;
}

nav a:hover {
    color: #23527c;
}

.login {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #337ab7;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login label {
    margin-bottom: 10px;
    font-weight: bold;
}

.login input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login button[type="submit"] {
    background-color: #ee20c1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login button:hover {
    background-color: #333;
    color: #fff;
}