.payment {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('./images/Charles\ Leclerc\ \(16\)\ _\ Sports\ car\ wallpaper….jpeg');
    background-size:cover;
    background-position:center;
}
body{
    background-image: url('');
    background-size:cover;
    background-position:center;
}

header {
    background-color: black;
    padding: 20px 0;
}
header:hover{
    background-color:red;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #333;
    color: #fff;
}

.payment h1 {
    text-align: center;
    margin-bottom: 20px;
}

.payment form {
    display: flex;
    flex-direction: column;
}

.payment label {
    margin-bottom: 10px;
}

.payment input[type="text"], .payment input[type="date"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.payment button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.payment button[type="submit"]:hover {
    background-color: #3e8e41;
}